<div class="row border-bottom bg-dark">
    <nav class="navbar navbar-static-top bg-dark" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">            
            <a class="navbar-minimalize minimalize-styl-2" href="#"><img src="~/Content/image/logo_limpo.png" width="50" height="50" /></a>
        </div>
    </nav>
</div>